<div class="container">
  <div class="highlight-div">
    <p class="heading">Hightlight the below text</p>
    <div class="textBox">
      <p class="textBox_text" appHighlight>This is a text box!</p>
    </div>
  </div>
  <div class="trim-div">
    <p class="heading">Trim the input on blur !</p>
    <input type="text" class="trim-input" appTrim />
  </div>
  <div class="tooltip-div">
    <div class="tooltip-hover">
      <p class="heading">Hover to see complete text</p>
      <div class="show-text">
        <p
          class="text"
          [appTooltip]="toolTipTemplate"
          [originalText]="fulltext"
          [colorInput]="colorInput"
          [fontSize]="fontSize"
          [position]="position"
        >
          This is a custom...
        </p>
        <ng-template #toolTipTemplate>
          <div
            class="tooltip-box"
            [ngStyle]="{
              'font-size': fontSize + 'px',
              position: 'absolute',
              'background-color': colorInput
            }"
          >
            <p class="fulltext">{{ fulltext }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="customize-options">
      <p class="heading">Customize your tooltip !</p>
      <div class="tooltip-position">
        <p class="heading-sub">Select the position</p>
        <select name="position-dropdown" id="" [(ngModel)]="position">
          <option value="" disabled>--Select Position--</option>
          <option value="top">Top</option>
          <option value="bottom">Bottom</option>
          <option value="left">Left</option>
          <option value="right">Right</option>
        </select>
      </div>
      <div class="tooltip-color">
        <p class="heading-sub">Select color</p>
        <input type="color" name="color" id="" [(ngModel)]="colorInput" />
      </div>
      <div class="tooltip-font">
        <p class="heading-sub">Select font size</p>
        <select name="fontSize-dropdown" id="" [(ngModel)]="fontSize">
          <option value="" disabled>--Select Position--</option>
          <option value="8">8px</option>
          <option value="10">10px</option>
          <option value="12">12px</option>
          <option value="20">20px</option>
          <option value="25">25px</option>
        </select>
      </div>
    </div>
  </div>
</div>
